header {
    margin-top: 4em;
    padding-top: 4em;
}

#meny {
    list-style: none;
    padding: 10px;
    position: fixed;
    left: 0;
    top: -22px;
    background-color: rgb(56, 52, 52);
    width: 100%;
}

#meny li {
	display:block;
	width:120px;
    float:left;
    height: 1em;
    padding: 5px;
	margin-left:20px;
    border:1px solid rgb(56, 52, 52);
    background-color: rgb(248, 248, 248);
    text-align: center;
}

#meny li:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}

#meny li:hover a:visited,
#meny li:hover a,
#meny li a:hover {
    color:white;
}

#meny li img {
    height: 20px;
}

#meny li a:visited {
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #release {
      animation: pop 1s linear;
      animation-fill-mode: forwards;
      position: absolute;
      background-image: url("newest.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 50%;
      height: 800px;
  }

  @keyframes pop {
      0% {top: 1000px; left: 25%;}
      100% {top: 250px; left: 25%;}
  }