header {
    margin-top: 4em;
    padding-top: 4em;
}

#meny {
    list-style: none;
    padding: 10px;
    position: fixed;
    left: 0;
    top: -22px;
    background-color: rgb(56, 52, 52);
    width: 100%;
}

#meny li {
	display:block;
	width:120px;
    float:left;
    height: 1em;
    padding: 5px;
	margin-left:20px;
    border:1px solid rgb(56, 52, 52);
    background-color: rgb(248, 248, 248);
    text-align: center;
}

#meny li:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}

#meny li:hover a:visited,
#meny li:hover a,
#meny li a:hover {
    color:white;
}

#meny li img {
    height: 20px;
}

#meny li a:visited {
    color: rgb(0, 0, 0);
}

#meny li a {
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: whitesmoke;
    text-align: center;
}

#iphone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
  
    grid-template-areas:
      "i11 i112 pro pro2 promax promax2"
      "xr  xr2  xs  xs2  xsmax  xsmax2"
}

#i11 {
    grid-area: i11;
    border-top: solid whitesmoke 2px;
    border-left: solid whitesmoke 2px;
    border-bottom: solid whitesmoke 1px;
}

#pro {
    grid-area: pro;
    border-top: solid whitesmoke 2px;
    border-left: solid whitesmoke 1px;
    border-bottom: solid whitesmoke 1px;
}

#promax {
    grid-area: promax;
    border-top: solid whitesmoke 2px;
    border-left: solid whitesmoke 1px;
    border-bottom: solid whitesmoke 1px;
}

#xr {
    grid-area: xr;
    border-bottom: solid whitesmoke 2px;
    border-left: solid whitesmoke 2px;
    border-top: solid whitesmoke 1px;
}

#xs {
    grid-area: xs;
    border-bottom: solid whitesmoke 2px; 
    border-left: solid whitesmoke 1px;
    border-top: solid whitesmoke 1px;
}

#xsmax {
    grid-area: xsmax;
    border-bottom: solid whitesmoke 2px;
    border-left: solid whitesmoke 1px;
    border-top: solid whitesmoke 1px;
}
#i112 {
    grid-area: i112;
    border-top: solid whitesmoke 2px;
    border-right: solid whitesmoke 1px;
    border-bottom: solid whitesmoke 1px;
    color: whitesmoke;
}

#pro2 {
    grid-area: pro2;
    border-top: solid whitesmoke 2px;
    border-right: solid whitesmoke 1px;
    border-bottom: solid whitesmoke 1px;
    color: whitesmoke;
}

#promax2 {
    grid-area: promax2;
    border-top: solid whitesmoke 2px;
    border-right: solid whitesmoke 2px;
    border-bottom: solid whitesmoke 1px;
    color: whitesmoke;
}

#xr2 {
    grid-area: xr2;
    border-bottom: solid whitesmoke 2px;
    border-top: solid whitesmoke 1px;
    border-right: solid whitesmoke 1px;
    color: whitesmoke;
}

#xs2 {
    grid-area: xs2;
    border-bottom: solid whitesmoke 2px; 
    border-top: solid whitesmoke 1px;
    border-right: solid whitesmoke 1px;
    color: whitesmoke;
}

#xsmax2 {
    grid-area: xsmax2;
    border-right: solid whitesmoke 2px;
    border-bottom: solid whitesmoke 2px;
    border-top: solid whitesmoke 1px;
    color: whitesmoke;
}

#iphone img {
    position: relative;
    height: 300px;
    top: -22px;
}

#pro img {
    height: 275px;
    top: 8px;
}

h2 {
    position: relative;
    text-align: center;
}

li {
    font-size: 1.2em;
}

#meny li{
    font-size: 1em;
}
 