header {
    margin-top: 4em;
    padding-top: 4em;
}

#meny {
    list-style: none;
    padding: 10px;
    position: fixed;
    left: 0;
    top: -22px;
    background-color: rgb(56, 52, 52);
    width: 100%;
}

#meny li {
	display:block;
	width:120px;
    float:left;
    height: 1em;
    padding: 5px;
	margin-left:20px;
    border:1px solid rgb(56, 52, 52);
    background-color: rgb(248, 248, 248);
    text-align: center;
}

#meny li:hover {
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}

#meny li:hover a:visited,
#meny li:hover a,
#meny li a:hover {
    color:white;
}

#meny li img {
    height: 20px;
}

#meny li a:visited {
    color: rgb(0, 0, 0);
}

#meny li a {
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: rgb(177, 80, 80);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
  }

  #watch {
    text-align: justify;
    color: whitesmoke;
  }


